language: go
go_import_path: github.com/kubernetes-sigs/aws-efs-csi-driver

env:
  global:
    - GO111MODULE=on

go:
  - "1.11.4"

before_install:
  - go get github.com/mattn/goveralls

script:
  - make
  - ./hack/verify-all
  - make test
  - go test -covermode=count -coverprofile=profile.cov ./pkg/...
  - $GOPATH/bin/goveralls -coverprofile=profile.cov -service=travis-ci
