apiVersion: v1
appVersion: "1.0.0"
description: A Helm chart for AWS EFS CSI Driver
name: aws-efs-csi-driver
version: 0.4.0
kubeVersion: ">=1.14.0-0"
home: https://github.com/kubernetes-sigs/aws-efs-csi-driver
sources:
  - https://github.com/kubernetes-sigs/aws-efs-csi-driver
keywords:
  - aws
  - efs
  - csi
maintainers:
  - name: leakingtapan
