apiVersion: v1
appVersion: "0.3.0"
name: aws-efs-csi-driver
description: A Helm chart for AWS EFS CSI Driver
version: 0.1.0
kubeVersion: ">=1.14.0-0"
home: https://github.com/kubernetes-sigs/aws-efs-csi-driver
sources:
  - https://github.com/kubernetes-sigs/aws-efs-csi-driver
keywords:
  - aws
  - efs
  - csi
maintainers:
  - name: leakingtapan
